/* =================== SELECTION COLOR =================== */
::selection {
    background: #c59d5f;
}
::-moz-selection {
    background: #c59d5f;
}

/* =================== FONT =================== */
@font-face {
    font-family: 'Quentin';
    src: local('Quentin'), url(./fonts/Quentin.otf);
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
    font-weight: bold;
}

a:link {
    color: #c59d5f;
}

a:hover {
    color: #000;
}

.textCapitalize {
    text-transform: capitalize;
}

.fontMrDeHaviland {
    font-family: 'Mr De Haviland', cursive;
}

.fontQuentin {
    font-family: 'Quentin';
}

.size12px {
    font-size: 12px;
}

.size20px {
    font-size: 20px;
}

.size70px {
    font-size: 70px;
}

.size60px {
    font-size: 60px;
}

.size50px {
    font-size: 50px;
}

.size40px {
    font-size: 40px;
}

.size30px {
    font-size: 30px;
}

.spacing5px {
    letter-spacing: 5px;

}

.spacing25rem {
    letter-spacing: .25em;
}

.is-white {
    color: #fff;
}

.is-gold {
    color: #c59d5f;
}

.is-uppercase {
    text-transform: uppercase;
}

p {
    line-height: 1.75em;
}

/* =================== MARGIN =================== */
.my-3 {
    margin-top: 3px;
    margin-bottom: 3px;
}

.my-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.my-18 {
    margin-top: 18px;
    margin-bottom: 18px;
}

.my-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.my-100 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.mr-20 {
    margin-right: 100px;
}

.mr-5 {
    margin-right: 5px;
}

.verticalAlign {
    vertical-align: middle;
    margin: 0 auto;
}



/* =================== NAVBAR =================== */
.navbar-item {
    letter-spacing: 0.2em;
    font-size: 0.8em;
}

/* =================== SCROLLBAR =================== */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c59d5f; 
}

/* =================== BUTTON =================== */
.cssbutton {
    border: #363636 1px solid;

}
.cssbutton:hover {
    background: #c59d5f;
    color: #fff;
}

.is-outlined {
    border-radius: 0px;
}

/* =================== PAGES =================== */
.notFoundPageBG {
    background-image: url('./images/notFoundBG.jpg');
    background-position: center 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.sectionTitleWrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    background-color: #f7f8f9;
    background-position: center 0;
    background-repeat: no-repeat;
    height: 500px;
}

.dashboardSummaryWrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    background-color: #f7f8f936;
    /* opacity: .2; */
    background-position: center 0;
    background-repeat: no-repeat;
    height: 500px;
    /* border: 1px solid #363636; */
}

.dashboardSummaryWrapperDarker {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    background-color: #f7f8f9a2;
    /* opacity: .2; */
    background-position: center 0;
    background-repeat: no-repeat;
    height: 500px;
    /* border: 1px solid #363636; */
}

.dashboardSummaryWrapperDarkest {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    background-color: #f7f8f9ce;
    /* opacity: .2; */
    background-position: center 0;
    background-repeat: no-repeat;
    height: 500px;
    /* border: 1px solid #363636; */
}


.dashboardSummaryWrapper:hover,
.dashboardSummaryWrapperDarker:hover,
.dashboardSummaryWrapperDarkest:hover{
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    background-color: #f7f8f9;
    /* opacity: .2; */
    background-position: center 0;
    background-repeat: no-repeat;
    height: 500px;
    /* border: 1px solid #363636; */
}

.sectionTitleHolder {
    position: relative;
    padding: 30px;
    margin-top: 330px;
    vertical-align: middle;
}

.sectionTitleWrapperDark {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    background-color: #363636;
    background-repeat: no-repeat;
    color: #fff;
}

.sectionTitleWrapperDark2 {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    /* background-color: #363636; */
    background-image: url('./images/homePage-bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    height: 500px; 
    
}

.sectionTitleWrapperDark3 {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    background-image: url('./images/carousel2.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}

.sectionTitleSubscribe {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    /* background-color: #363636; */
    background-image: url('./images/aboutUs-parallax.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}

.sectionTitle2ndAbout {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    /* background-color: #363636; */
    background-image: url('./images/aboutUs-parallax2.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
    background-attachment: fixed;
    background-size: cover;
    color: #000;
}


/* =================== FOOTER =================== */
.footerTop {
    background-color: #000;
    border-top: rgb(66, 66, 66) 1px solid;
    color: #fff;
    padding: 15px;
}

.footerSocMedFirst {
    padding: 1px 15px 0 0;
    border-right: #fff 1px solid;
}

.footerSocMed {
    /* margin: 5px; */
    padding: 1px 15px;
    border-right: #fff 1px solid;
}

.footerSocMedLast {
    padding: 1px 0 1px 15px;
}

.footerBottom {
    background-color: #141414;
    border-top: rgb(66, 66, 66) 1px solid;
    color: #fff;
    padding: 15px;
    font-size: 12px;
}

.footerTitle  {
    font-size: 35px;
}

.footerTop p {
    font-size: 12px;
}

.footerText {
    font-size: 12px;
}

.footerSocMedLink a {
    color: #fff;
}

.footerSocMedLink a:hover {
    color: #c59d5f;
}

.f-sign {
    font-family: "Dawning of a New Day", cursive;
    font-size: 13px;
}

.f-sign a {
    color: #c59d5f;
}   

.f-sign a:hover {
    color: #fff;
}  

.logoFooterImg {
    height: 80px;
}


/*=================== SERVICES ===================*/
.indivService {
    display: table-cell;
    width: 1%;
    white-space: nowrap;
    padding-right: 5px;
}

.indivServiceLine {
    height: 3px;
    border-bottom: 1px solid #afaaa9;
    display: table-cell;
    width: 98%;
    z-index: 1;
    position: relative;
    bottom: 3px;
}

.indivPrice {
    display: table-cell;
    width: 1%;
    padding-left: 7px;
    white-space: nowrap;
}

.sectionHomeBg1 {
    height: 500px; 
    background-image: url('./images/sectionHome2.jpg'); 
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
} 


.headerBGAbout {
    height: 500px; 
    background-image: url('./images/aboutUs-sectionBg.jpg'); 
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.headerBGServices {
    height: 500px; 
    background-image: url('./images/carousel2.jpg'); 
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.backText {
    position: absolute;
    /* z-index: -1; */
    padding-top: 50px!important;
    left: 50%;
    transform: translateX(-50%);
    opacity: .2;
    color: #c59d5f;
    font-size: 100px;
}

.backTextHours {
    position: absolute;
    /* z-index: -1; */
    padding-top: -50px!important;
    left: 25%;
    transform: translateX(-50%);
    opacity: .2;
    color: #c59d5f;
    font-size: 100px;
}


.backTextTesti {
    position: absolute;
    /* z-index: -1; */
    padding-top: 10px!important;
    left: 50%;
    transform: translateX(-50%);
    opacity: .2;
    color: #c59d5f;
    font-size: 100px;
}

.backTextAbout {
    position: absolute;
    z-index: -1;
    /* padding-top: -10px!important; */
    left: 25%;
    top: -15%;
    transform: translateX(-50%);
    opacity: .2;
    color: #c59d5f;
    font-size: 170px;
}

.backTextAbout2 {
    position: absolute;
    /* z-index: -1; */
    /* padding-top: -10px!important; */
    left: 20%;
    top: -20%;
    transform: translateX(-50%);
    opacity: .2;
    color: #c59d5f;
    font-size: 170px;
}

.backTextServices {
    position: absolute;
    /* z-index: -1; */
    /* padding-top: -10px!important; */
    left: 30%;
    top: -5%;
    transform: translateX(-50%);
    opacity: .2;
    color: #c59d5f;
    font-size: 170px;
}

.backTextServices2 {
    position: absolute;
    /* z-index: -1; */
    /* padding-top: -10px!important; */
    left: 30%;
    top: -5%;
    transform: translateX(-50%);
    opacity: .2;
    color: #c59d5f;
    font-size: 170px;
}

/*=================== SLIDER TESTIMONAL *===================*/
.hero-home {
    background-image: url('./images/carousel3.jpg'); 
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.hero-home2 {
    /* background-image: url('./images/aboutUs-parallax2.jpg');  */
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}


.hr {
    background-image: url('./images/divider.png'); 
}

/*=================== SWAL STYLING ===================*/
.swal2-select {
    min-width: 100%;
    font-size: 15px;
}

.swal2-content2 {
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
}

.swal2-input2 {
    text-align: left;
    font-size: 15px;
}

/*=================== DASHBOARD CARDS ===================*/


.card-stats .card-body {
    padding: 15px 15px 0px; }
    .card-stats .card-body .numbers {
      text-align: right;
      font-size: 2em; }
      .card-stats .card-body .numbers p {
        margin-bottom: 0; }
      .card-stats .card-body .numbers .card-category {
        color: #9A9A9A;
        font-size: 16px;
        line-height: 1.4em; }
  
  .card-stats .card-footer {
    padding: 0px 15px 15px; }
    .card-stats .card-footer .stats {
      color: #9A9A9A; }
    .card-stats .card-footer hr {
      margin-top: 10px;
      margin-bottom: 15px; }
  
  .card-stats .icon-big {
    font-size: 3em;
    min-height: 64px; }
    .card-stats .icon-big i {
      line-height: 59px; }